<section class="jumbotron">
    <div class="row text-center">
    </div>
</section>
<section class="container">
    <div class="row">
        <div class ="col-sm-12 text-center">
            <div class="text-center">
                <ul>
                    <li>
                        <label for="name">Your Name : <input type="text" name="namebox" ng-model="name" required /> </label>
                    </li>
                </ul>
                <p class="btn btn-primary" ng-click="saveInfo()" id="submit"><a href="#welcome">Continue >></a></p>
            </div>
        </div>
    </div>
</section>