<section class="jumbotron">
    <div class="row text-center">
    </div>
</section>
<section class="container">
    <div class="page-header">
        <h1>Hey {{nm}} here are the Rules: </h1>
    </div>
    <div class="row text-center">
        <ul class="col-sm-12">
            <li>
                There will be ten questions
            </li>
            <li>
                The game ends as soon as you give a wrong answer
            </li>
            <li>
                The marks of each question is 15
            </li>
            <li>
                You will get a special gift based on your marks
            </li>
        </ul>
    </div>
    <div class="row text-center">
        <p class="btn btn-primary" id="continue"><a href="#quiz">Continue >></a></p>
    </div>
</section>